body {
  background-color: #fff; /* white */
  color: #000;            /* black */
  font-size: 12pt;
}

nav,
footer,
.search {
  display: none;
}

main,
aside {
  float: none;
  width: auto;
  margin: 0 5%;
}

article {
  background-color: transparent;
  background-image: none;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

a:after {
  content: " (" attr(href) ") ";
}
